* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: aliceblue;
  padding: 0.5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  text-decoration: none;
  font-size: 3rem;
  font-weight: 900;
  color: #137fec;
}

.btn-add {
  padding: 0.5rem 1rem;
  border: none;
  background-color: #137fec;
  color: #fff;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  gap: 3rem;
}

.container-header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.container-header .search-container {
  border: 2px solid rgb(201, 201, 201);
  width: 540px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.container-header .search-container input {
  padding: 0.6rem 0.4rem;
  border-radius: 5px;
  border: none;
  outline: none;
  width: 100%;
  font-size: 1.2rem;
}

.container-header .search-container .fa-magnifying-glass {
  margin-left: 0.4rem;
}

.container-header select {
  padding: 0.6rem 1rem;
  border-radius: 5px;
  border: 2px solid rgb(201, 201, 201);
  font-size: 1.2rem;
  outline: none;
}

.todo-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.todo {
  width: 750px;
  border: 1px solid rgb(235, 235, 235);
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  border-radius: 10px;
  border-left: 6px solid red;
}

.todo-content {
  display: flex;
  align-items: start;
  gap: 1rem;
}

.todo-content input {
  width: 20px;
  height: 20px;
}

.todo-content > div {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.todo-content > div h2 {
  font-size: 1.2rem;
}

.todo-content > div p {
  color: rgb(124, 124, 124);
}

.date-priority-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.date-priority-container span:first-child {
  border-radius: 20px;
  padding: 0.1rem 0.4rem;
  font-size: 0.8rem;
}

.date-priority-container span:last-child {
  font-size: 0.8rem;
  font-weight: 500;
}

.icon-container {
  display: flex;
  gap: 1rem;
}

.overlay {
  width: 100%;
  height: 100vh;
  background-color: rgba(51, 51, 51, 0.583);
  position: absolute;
  top: -100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease;
}

form {
  width: 500px;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

form .fa-xmark {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

form .form-label {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

form .form-label input {
  border: 2px solid rgb(211, 211, 211);
  padding: 0.5rem;
  border-radius: 5px;
  outline: none;
  background-color: rgb(236, 236, 236);
}

form .form-label textarea {
  border: 2px solid rgb(211, 211, 211);
  padding: 0.5rem;
  border-radius: 5px;
  outline: none;
  background-color: rgb(236, 236, 236);
}

.form-date-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.form-label {
  width: 100%;
}

.form-label select {
  border: 2px solid rgb(211, 211, 211);
  padding: 0.5rem;
  border-radius: 5px;
  outline: none;
  background-color: rgb(236, 236, 236);
}

.btn-save {
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  background-color: #137fec;
  color: #fff;
  font-size: 1.2rem;
  margin-top: 1rem;
  cursor: pointer;
}

.border-red {
  border-left: 6px solid red;
}

.border-orange {
  border-left: 6px solid orange;
}

.border-green {
  border-left: 6px solid #84c61f;
}

.background-red {
  background-color: #ffc4c4;
  color: red;
}

.background-green {
  background-color: #d7fd9c;
  color: green;
}

.background-orange {
  background-color: #f8deaf;
  color: orange;
}
